{% load django_tables2 %}
{% load static %}
<!DOCTYPE HTML>
<html>
<head>
	<script src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript'></script>
	<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bugtracker.css' %}"/>
</head>
<body>
		<p>
			{% csrf_token %}
			{% render_table table %}
		</p>
		<div id="search_button"><a href="search">Search</a></div>
		<div id="logout_button"><a href="logout_user">Logout</a></div>
		<div class='footer'>This app was made as part of a GSoC project. 
			<a href="https://github.com/Niharika29/bugtracker">Fork on github</a>
		</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		//$('.edit_link').text('Edit');
		//$('.delete_link').text('Delete');
	});
</script>
</html>
