body {
	margin: 0;
}

input[type=text], #id_desc, input[type=number] {
    padding: 8px;
}

#id_desc {
	font-family: "Calibri", sans-serif;
} 

#container {
	text-align: center;
	width: 35%;
	margin: 30px auto;
}

input[type=submit] {
	padding: 10px 40px;
	color:white;
	background:#008080;
	font-size: 16px;
	border: 2px solid white;
	outline: none;
	border-style: none;
	border-radius: 20px;
	font-weight: 700;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

input[type=submit]:hover {
	border: 2px solid #008080;
	color: #008080;
	background: white;
	cursor: pointer;
}

ul {
	list-style:none;
}

input[type=radio] {
	display: inline;
	position: relative;
}
