body {
	font-size: 14px;
	font-family: "Calibri", sans-serif;
}

input {
    padding: 3px;
}

#container {
	width: 50%;
	margin: 30px auto;
}

label {
	color: red;
	padding: 10px auto;
}

input[type=submit] {
	padding: 5px 40px;
	margin: 10px 50%;
}
