input[type=text] {
    padding: 8px;
    font-size: 1.2em;
}

#container {
	text-align: center;
	width: 35%;
	margin: 30px auto;
}

#header {
	font-size: 18px;
	padding: 16px;
}

input[type=submit] {
	padding: 10px 40px;
	color:white;
	background:#de5151;
	font-size: 16px;
	outline: none;
	border-style: none;
	border-radius: 20px;
	font-weight: 600;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

input[type=submit]:hover {
	border: 2px solid #de5151;
	color: #de5151;
	background: white;
	cursor: pointer;
}

ul {
	list-style:none;
}

input[type=radio] {
	display: inline;
	position: relative;
}
